#map {
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.marker-pin {
    position: absolute;
    height: 100%;
}

.popup {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
}

.found {
    animation: appear 1s;
    animation-fill-mode: forwards;
    transform-origin: bottom;
}

.hidden {
    animation: appear 1s, disappear 3s;
    animation-fill-mode: forwards;
    transform-origin: bottom;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    15% {
        bottom: 8px;
    }
    25% {
        opacity: 1;
    }
    50% {
        bottom: 16px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes disappear {
    50% {
        scale: 1;
    }
    100% {
        scale: 0;
    }
}
  