.debugger {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;

    .bar {
        width: 25px;
        aspect-ratio: 1;
        background-color: white;
    }

    input {
        font-size: inherit;
    }

    button {
        font-size: inherit;
    }
}