.settings {
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;
    gap: 16px;

    ul {
        background-color: hsl(0, 0%, 10%);
        padding: 16px;
        border-radius: 16px;
        height: 150px;
        overflow-y: scroll;

        li {
            font-size: 1.2rem;
    
            display: flex;
            gap: 16px;
    
            .name {
                flex: 1
            }
        }
    }

    button {
        font-size: 1rem;
        border: none;
        border-radius: 1rem;
        background-color: hsl(0, 0%, 30%);
        color: hsl(0, 0%, 90%);
        padding: 0.5rem;
    }

    .setting {
        display: flex;
        gap: 8px;

        .name {
            flex: 1;
        }
    }
}