.home {
    --height: 50px;

    .buttons {
        z-index: 10;
        position: absolute;
        --margin: 8px;
        inset: auto var(--margin) var(--margin) var(--margin);
        height: var(--height);
        display: flex;
        gap: var(--margin);
    }

    .buttons > * {
        background-color: white;
        color: black;
        border: solid 1px lightgrey;
        border-radius: var(--height);
    }

    .search {
        flex-basis: calc(100% - 2* var(--height));
    }

    .hide {
        flex-basis: var(--height);
    }

    .settings {
        flex-basis: var(--height);
    }
}