#root {
    // react-toastify
    --toastify-color-light: var(--background-color);
    --toastify-text-color-light: white;
}

.toast {
    --margin: 10px;
    margin: var(--margin);
    width: calc(100% - var(--margin)*2);
    max-width: 400px;
    border-radius: 24px;
    overflow: hidden;
    
    img {
        width: 40px;
        margin-left: calc(var(--margin)*-2);
    }
    
    .toast-content {
        margin: var(--margin);
        margin-left: calc(var(--margin)*3);
    }
}
