#root {
    display: grid;
    align-content: center;

    background-color: black;
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    
    border: solid 2px white;
    border-radius: 50px;
    background-color: transparent;
    color: white;
}

.camera {
    width: 100%;
}