#root {
    --background-color: hsl(0, 0%, 15%);
    --color-font: hsl(0, 0%, 75%);
    --color-prime: salmon;

    --footer-height: 68px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tab {
    z-index: 100;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: var(--footer-height);
    color: var(--color-font);
    background-color: var(--background-color);
    padding: 16px;
}