#root {
    --background-color: hsl(0, 0%, 15%);
    --color-font: hsl(0, 0%, 75%);
    --color-prime: salmon;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tab {
    z-index: 100;
    position: absolute;
    inset: 0;

    .backdrop {
        position: absolute;
        inset: 0;
        background-color: black;
        opacity: 0.4;
    }
    
    .modal {
        position: absolute;
        width: 90%;
        aspect-ratio: 1;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        padding: 30px;
        
        border-radius: 32px;
        overflow: hidden;
        background-color: white;
        text-align: center;
        border: solid 3px lightgrey;
        
        .close {
            z-index: 102;
            position: absolute;
            top: 20px;
            right: 20px;
            color: black;
            font-size: 24px;
        }
    }
}