.footer {
    --height: 70px;

    z-index: 10;
    position: absolute;
    inset: auto 0 0 0;
    height: var(--height);
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    gap: 8px;
    
    button {
        border: none;
        background-color: transparent;
        color: hsl(0, 0%, 80%);
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;
        align-items: center;
        gap: 4px;
        
        div {
            font-size: 18px;
            width: 80%;
            padding: 3px;
        }

        span {
            font-size: 12px;
        }
    }

    .active {
        div {
            background: var(--color-prime);
            color: white;
            border-radius: var(--height);
        }

        span {
            color: var(--color-prime);
        }
    }
}